@font-face {
        font-family: 'M';
        src: url('../../fonts/Pk.ttf') format('truetype');
    }

    body{
        background-color: black;
        font-family: 'M', sans-serif;
    }

    h1{
        color: aqua;
    }

