body{
    background-color:#000000;
}

#di pre{
    background-color:#00FF00;
    width: 100%;
    font-size: 100%;
    text-align: center;
    border-radius: 20px;
    color:#000000;
    
}

#di{
    box-shadow: #00FF00 0 0 50px;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


ul{
     color:#00FFFF;
}

a{
    color:#FF0000;
}

table{
    background-color:#252424;
    color:#E5E7EB;
    width: 80%;
    font-size: xx-large;
    font-size: 20px;
    margin: 0 auto;




    transition: all 0.5s ease-in-out;
}   

table:hover{
    background-color:#00FF37;
    color:#000000;
    width: 90%;
    box-shadow:0 0 20px #00FF37;
}

table img{
        margin: 0 auto;
        display: block;
        width: 60%;
        height: 60%;
}

table p{
        text-align: center;

}

#v{
    color:#0051FF;
}

#di2 pre {
    font-family: "Vazirmatn", "IRANSans", "Tahoma", sans-serif;
    font-size: 15px;
    line-height: 2;
    direction:initial;
    text-align: right;
    white-space: pre-wrap;
    background:#0F2A13;
    color:#E5E7EB;
    padding: 20px;
    border-radius: 12px;
}

#p{
width: 80%;
height: auto;
max-width: 100%;
margin: 0 auto;
display: block;
box-shadow: #00FF00 0 0 50px;

}

#w{        
    border-radius: 100%;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    display: block;
}

h1{
    color:#00FF37;
    text-shadow:0 0 20px #00FF37;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

#di5{ /* توضیحات کلی */
    color: #FF0000;
    font-size: 200%;
    text-align: center;
    text-shadow: #00ff0060 0 0 50px;
    width: 70%;
    margin: 0 auto;
    backface-visibility: visible;

}

#ویدیو{
    color: #00FFFF;
    text-shadow:0 0 20px #00FFFF;
}

#استریم{
    color:#FF9900;
    text-shadow:0 0 20px #FF9900;
}

#لینک{
    color:#0051FF;
    text-shadow:
    0 0 10px #0051FF,
    0 0 20px #0051FF,
    0 0 40px #0051FF;
}




