@font-face {
  font-family: 'M';
  src: url('/fonts/Pk.ttf') format('truetype');
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}
body{
     font-family: 'M', sans-serif;
    background-color: black;
}

.a{
    color: rgb(0, 255, 55);
}

#text-head{
    color: aqua;
    background-color: rgb(0, 22, 0);
    width :fit-content;
    border-radius: 30px;
    
}
#text-end{

}